VK_TOKEN=
VK_GROUP_ID=233007447

GIGACHAT_CREDENTIALS=
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_MODEL=
GIGACHAT_IMAGE_MODEL=GigaChat-2-Pro

DOSSIER_PASSWORD=1234
BOT_TIMEZONE=Europe/Moscow
DOSSIER_BACKFILL_DAYS=7
